@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-colour: #eee;
    --secondary-colour: rgb(20, 19, 19);
}

* {
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-colour);
}

.dark-theme {
    background-color: var(--secondary-colour);
}

.theme img {
    width: 20px;
    cursor: pointer;
    float: right;  
}

.container {
    max-width: 400px;
    position: relative;
}

.search {
    position: relative;
}

.search-icon {
    color: gray;
    position: absolute;
    bottom: 12px;
    left: 20px;
}

.task-list {
    margin: 0;
}

input[type = text], 
input[type = text]:focus {
    background-color: #ccc;
    border: none;
}

header input, .task-item {
    min-width: 340px;
    width: 100%;
}

.add-task input {
    width: 100%;
}

.add-task .add-btn {
    position: absolute;
    padding: 5px 18px;
    background-color: #FFC000;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 50%;
    bottom: -80px;
    right: 10px;
    cursor: pointer;
}

.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}

.completed {
    color: gray;
}

.completed i {
    cursor: pointer;
}

.completed li {
    background-color: #ccc;
}

/* .completed li .done input:checked {
    border-color: gray;
    background-color: #ccc;
} */

.completed .line {
    text-decoration: line-through;
}


@media screen and (max-width : 400px) {
   body {
    transform: scale(0.9);
   }  
}